build/
out/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

*.o
*.obj
*.exe
*.dll
*.so
*.lib
*.a

*.log

.vs/
*.sln
*.vcxproj*
*.user

.vscode/

*.tmp
*.temp

openssl/bin/
openssl/lib/

server.log
app_log.txt
dll_debug_log.txt
startup_log.txt